/* #FEFDFD white
#F2E77E yellow
#17140d black  */

@font-face {
  font-family:"Work Sans";
  src: url("./fonts/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family:"Sporting Grotesque";
  src: url("./fonts/Sporting_Grotesque-Regular_web.ttf") format("truetype");
}

body {
  background-color:#F2E77E;}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2E77E;
    border-bottom: 2px solid #17140d;

  }

  li {
    float: right;
  }

  li a .ai {
    font-size:1.5em;
}

  li a {
    font-family:"Work Sans";
    font-size: 200%;
    display: block;
    color: #17140d;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #F2E77E;
    color: #FEFDFD;

  }

.center {
  margin: auto;
  width: 60%;
  padding: 5px;
}


.mypic {
  border:3px solid #17140d;
  box-shadow:10px 10px #17140d;
  width: 300px;
}

.myname {
  font-family:"Sporting Grotesque";
  margin: 0 auto;
  font-size: 300%;
  color: #17140d;
}

.bio {
  font-family:"Work Sans";
  margin: 0 auto;
  font-size: 150%;
  color: #17140d;
  border-bottom: 2px solid #17140d;

}

.socialmedia {
  width:100%;

}

h3 {
  margin:10px;
  color: #17140d;
  padding-left: 50px;
  font-size: 100%;
}



h6 {
font-family:"Work Sans";
display:inline-block;
color:#17140d;
}

ins:hover {
  position:relative;
}
ins:hover:after {
  display:block;
  position:absolute;
  border:3px solid black;
  box-shadow:10px 10px black;
}

#nora:hover:after {
  content: url("./images/cat_small.gif");
  width:300px;
  height:169px;
  top:-200px;
  left:400px;
}


#learning:hover:after {
  content: url("./images/learning_test.gif");
  width:170px;
  height:169px;
  top:-300px;
  left:100px;
}

#decision:hover:after {
  content: url("./images/snacks.gif");
  width:400px;
  height:400px;
  top:-300px;
  left:100px;
}
